<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacation calculate</title>
</head>
<body>

<div th:if="${payOfPeriodDays}">
    <span>Зарплата в период с: </span>
    <span th:text="${startDate}">StartDate</span>
    <span> по </span>
    <span th:text="${endDate}">EndDate</span>

    <p>Зарплата: <span th:text="${payOfPeriodDays}">Salary</span></p>
</div>

<div th:if="${paySalary}">
    <span>Зарплата за </span>
    <span th:text="${vacationDays}">VacationDays</span>
    <span> дней отпуска равна: </span>
    <span th:text="${paySalary}">PaySalary</span>
</div>

</body>
</html>